@model Login

<form asp-action="Login" asp-controller="Login" method="POST">
  <div class="input">
    <span class="error" asp-validation-for="LoginEmail"></span>
    <label asp-for="LoginEmail">Email</label>
    <input asp-for="LoginEmail">
  </div>
  <div class="input">
    <span class="error" asp-validation-for="LoginPassword"></span>
    <label asp-for="LoginPassword">Password</label>
    <input asp-for="LoginPassword">
  </div>
  <button>Login</button>
</form>
