<h1>Villain World Domination App</h1>

<div class="wrapper">

  <div class="container">
    <h2>New Villains Register Here:</h2>
    <partial name="_register" />
  </div>

  <div class="container">
    <h2>Login Here:</h2>
    <partial name="_login" />
  </div>
</div>
