* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #333;
}

body {
    background-color: #333;
    color: #eee;
}

button {
    color: red;
}
input {
    color: black;
}
.wrapper {
    display: flex;
    justify-content: space-around;
}

.input {
    margin: 10px;
}

.error {
    display: block;
    color: orangered;
}